/*//////////////////////////////////////////

			polices d'écriture

//////////////////////////////////////////*/

@font-face {
	/*	par Ablaze 
	https://www.dafont.com/fr/leicester.font */
	font-family: Leicester;
	src: url(rescources/font/Leicester_text.TTF);
}
@font-face {
	/*	par Riciery Leal 
	https://www.dafont.com/fr/vcr-osd-mono.font */
	font-family: VCR_OSD_Mono;
	src: url(rescources/font/VCR_OSD_Mono.ttf);
}
@font-face {
	/*	par Alejo Bergmann 
	https://www.dafont.com/fr/potra.font */
	font-family: Potra;
	src: url(rescources/font/Potra.ttf);
}
@font-face {
	/*	par William Boyd 
	https://www.dafont.com/fr/freshman.font */
	font-family: Freshman;
	src: url(rescources/font/Freshman.ttf);
}
@font-face {
	/*	par Magique Fonts 
	https://www.dafont.com/fr/capture-it.font */
	font-family: Captureit;
	src: url(rescources/font/Captureit.ttf);
}

@font-face {
	/*	par Luce Avérous
	https://www.dafont.com/fr/trashhand.font? */
	font-family: trashhand;
	src: url(rescources/font/alamain1.ttf);
}

/*//////////////////////////////////////////

			classes id / class

//////////////////////////////////////////*/

/*
	cheat sheet :
	(c'est dur a dire wesh)

	#classe : id="classe"
	.classe : class="classe"

*/

#border_pic
{
	border: ridge #ccc;
	border-width: 6px;
	background-color: rgba(128, 128, 128, 0.25);
	width: 256px;
	position: relative;
	left: 2vw;
}

#POST_HISTORY
{
	position: relative;
	border: ridge #ccc;
	border-width: 6px;
	background-color: rgba(128, 128, 128, 0.25);
	height: 720px;
	width: 512px;
	bottom: 512px;
	left: 70vw;
}

#border_user
{
	position: relative;
	height: 75px;
	left: 360px;
	bottom: 256px;
	width: 256;
	border: ridge #ccc;
	border-width: 6px;
	background-color: rgba(128, 128, 128, 0.25);
	text-align: center;
}

#topDuSite
{
	/* just pour tester */
	display: none;
	position: fixed;
	background-color: rgba(128, 128, 128, 0.69);
	top: 6px;
	align-content: center;

	width : 98.8vw;

	height : 30px;
	padding-top:0.7vw;
	padding-bottom:0.7vw;
	/* fixée */
	z-index:512;
}

#topDuSite_Mobile
{
	position: sticky;

	height : 30px;
	padding-top:0.7vw;
	padding-bottom:0.7vw;
	/* fixée */
	z-index:512;
}

#slightly_smaller_p
{
	font-size: 20px;
}

#mobile_menu
{
	background-color: rgba(128, 128, 128, 0.25);
	
	width : 325;
	
	float: left;

	padding-left: 10px;
	padding-right: 10px;

	border: ridge #ccc;
  	border-width: 6px;
	z-index:128;
	position:relative;
	padding-bottom: 10px;
}


#personnage
{
	background-color: rgba(128, 128, 128, 0.25);
	
	width : 325;
	height : 690;
	
	float: left;

	padding-left: 10px;
	padding-right: 10px;

	border: ridge #ccc;
  	border-width: 6px;
	z-index:128;
	position:relative;
}

#text_zone{
	padding-left: 375px;
	padding-right: 50px;
	text-align: justify;

	height: 690px;	/* ahah funny number mais serieux c'est pile la bonne taille */

	border: ridge #ccc;
  	border-width: 6px;
}

#text_zone_2{

	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;

	border: ridge #ccc;
  	border-width: 6px;
}

#text_zone_3{

	padding-top: 15px;
	padding-left: 1vw;
	width: 95.1vw;
	border: ridge #ccc;
  	border-width: 6px;
}

#black{
	color: rgba(128, 128, 128, 0)
}

#green{
	color:rgb(21, 255, 0);
	font-size: 24px;
}

#end_my_sufferings{
	position: absolute;
	padding-left: 25vw;
}

#contact_border{
	outline: 8px ridge rgb(39, 39, 39);
	border-radius: 2rem;
	width: 75vw;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(59, 59, 59, 0.616);
}

#broder{
	border: ridge #ccc;
  	border-width: 6px;
}

#li_extra_padding{
	padding-left: 50px;
}

#forum_delete_button{
	left: 71.5vw;
	top: 185px;
	position: absolute;
}

#forum_account_p
{
	font-family: VCR_OSD_Mono;
	color:white;
	font-size:24px;
	padding-left: 25px;
}

#forum_text_container{
	border: ridge #ccc;
	font-family: VCR_OSD_Mono;
  	border-width: 6px;
	color: white;
	width: 97vw;
	resize: none;
	height: 250px;
	font-size: 24px;
	background-color: rgba(59, 59, 59, 0.616);
}

#forum_title_container
{
	font-family: VCR_OSD_Mono;
	border: none;
	border-width: 0px;
	color: white;
	width: 35vw;
	height: 24px;
	resize: none;
	font-size: 24px;
	background-color: rgba(0, 0, 0, 0.616);
}

.button_register{
	background-color: white;
	color: black;
	border: 2px solid #0000ff;
	padding: 20px 100px;
	width: 140px;
}

.msg{
	resize: none;
	background-color: #525252;
	font-size: 20px;
	font-family: trashhand;
	color:#ccc;
	border: ridge #ccc;
  	border-width: 6px;
}

.barre{
	text-decoration: line-through;
}

.dropdown {
	position: relative;
	padding-right: 7vw;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	
	background-color: #414141;
	width: 320px;
	outline: solid;
	padding: 10px 10px;
	z-index: 64;
}

.dropdown:hover .dropdown-content {
	display: block;
}	

/*//////////////////////////////////////////

			media bullshit

//////////////////////////////////////////*/

/* phone display */
@media screen and (max-width: 1140px)
{
	#topDuSite{
		display: none;
	}
	#topDuSite_Mobile{
		display: block;
	}

	megaTitle{
		outline: solid;
		font-family: Captureit;
		color:rgb(0, 217, 255);
		font-size:200%;
	}
}

/* regular display */
@media screen and (min-width: 1140px) 
{
	#topDuSite{
		display: block;
	}
	#topDuSite_Mobile{
		display: none;
	}

	megaTitle{
		outline: solid;
		font-family: Captureit;
		color:rgb(0, 217, 255);
		font-size:110px;
	}
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	align-self: center;
	height: 0;
	overflow: hidden;
}
	
.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	align-self: center;
	top: 0;
	left: 7.5%;
	width: 85%;
	height: 85%;
}

/*//////////////////////////////////////////

			balises html custom.
	
	la raison de leur existance est que
	je les utilises tellement que c'est
	plus simple de les utiliser en bali
	ses que de les utiliser comme class

//////////////////////////////////////////*/
/*Titre de la page */

/* titre de la partie de la page */
lesserTitle {
	text-align: center;
	font-family: Leicester;
	color:red;
	font-size:48px;
}
/* comme p mais plus petit */
smallerParagraph{
	font-family: VCR_OSD_Mono;
	color:white;
	font-size:16px;
}

pr{
	font-family: VCR_OSD_Mono;
	font-size:16px;
	text-align: center;
}

pb {
	font-family: Captureit;
	color:rgb(0, 217, 255);
	font-size:24px;
}

green_text{
	color: rgb(255, 0, 191);
}


/*//////////////////////////////////////////

			balises html classiques.

//////////////////////////////////////////*/

img { 
	max-width: 100%; 
}
html {
	/* fond en noir*/
	background-color:rgb(0, 0, 0);
	font-size:100%;
}

footer{
	background-color: #525252;
	z-index: 5;
}

p {
	font-family: VCR_OSD_Mono;
	color:white;
	font-size:24px;
}

h1, h2, h3, h4, h5, h6{
	font-family: VCR_OSD_Mono;
	color:white;
}

/* Le soulignement des liens se fait en vert grace a ça */
a {
	color:lime;
}
/*
	dans l'idée d'offrir un retour visuel a l'utilisateur, un lien cliquable rendra le texte en magenta.
	la changement de couleur de fond va possiblement dégager

	>>la
	ptdr
*/
a:hover{
	color: magenta;
	background-color: rgb(46, 46, 46);
}

button{
	background-color: white;
	color: black;
	border: 2px solid #0000ff;
	padding: 20px 100px;
	width: 310px;
}

/*
	l'utilité de :hover permet de changer le css d'un élément quand celui-ci a le curseur de souris sur lui.
	ici, la couleur du texte, du fond du bouton, et de la bordure sont modifié.

	le curseur est également modifié pour mettre le pointeur correct car pour une raison inconnue
	les boutons en html ne changent pas le curseur en pointer par défaut,
	c'est vraiment attardé mais bon, au moins c'est simple a corriger

	afin de donner a l'utilisateur un retour visuel qu'il s'agit d'un bouton
*/

button:hover{
	color: white;
	cursor: pointer;
	background-color: #525252;
	border: 2px solid rgb(255, 0, 191);
}
